CSRemoteAgent/bin/*
CSRemoteAgent/obj/*
TestType4DotNet/bin/*
TestType4DotNet/obj/*
CloudShellApi/obj/*
CloudShellApi/bin/*
Tester/obj/*
Tester/bin/*
Deploy/obj/*
Deploy/bin/*
packages/*
pfx/*
cab/debug/*
cab/release/*
!repositories.config
*.suo
