TsAlmRunner/bin/*
TsAlmRunner/obj/*
TsTestType/bin/*
TsTestType/obj/*
TsCloudShellApi/obj/*
TsCloudShellApi/bin/*
Tester/obj/*
Tester/bin/*
Deploy/obj/*
Deploy/bin/*
packages/*
pfx/*
cab/bin/*
!repositories.config
*.suo
