CSRemoteAgent/bin/*
CSRemoteAgent/obj/*
TestType4DotNet/bin/*
TestType4DotNet/obj/*
CloudShellApi/obj/*
CloudShellApi/bin/*
Tester/obj/*
Tester/bin/*
Deploy/obj/*
Deploy/bin/*
QS.ALM.RewriteClientDll/bin/*
QS.ALM.RewriteClientDll/obj/*
packages/*
pfx/*
cab/bin/*
!repositories.config
*.suo
